# Server Configuration
PORT=5000

# MongoDB Connection String
# Replace with your own MongoDB Atlas URI or local MongoDB URI
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database_name>

# JWT (JSON Web Token) Configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=30d

# Default Admin Credentials (created on first run)
ADMIN_SECRET_EMAIL=admin@example.com
ADMIN_SECRET_PASSWORD=your_admin_password_here
